<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" defer></script>
    <title>Travel Planner</title>
</head>

<body>
    <header>
        <h1>Travel Planner</h1>
    </header>
    <div class="container">
        <div class="input">
            <lottie-player src="https://assets5.lottiefiles.com/datafiles/gbQKQKT9Z0WGdT9/data.json"
                background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
            </lottie-player>
            <input id="destination" type="text" placeholder="Destination" required>
            <input id="departure-date" type="date" placeholder="departure-date" required>
            <button id="submit" type="submit" class="button">Start Planning</button>
        </div>
        <div class="result">
            <h2 id="result-destination">Travelling to:</h2>
            <p id="result-departure-date">Departure date:</p>
            <p id="result-time-to-departure">Time to departure: </p>
            <p id="result-weather">Current weather:</p>
            <p id="result-weather-arrival">Expected arrival forecast:</p>
        </div>
    </div>
    <footer>
        Copyright bla bla bla
    </footer>
</body>

</html>