.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(68, 62, 62, 0.7);
    height: 400px;
    width: 300px;
    margin-bottom: 20px;
}
#destination, #departure-date {
    margin-bottom: 10px;
    width: 200px;
}
#destination:hover, #departure-date:hover{
    cursor: pointer;
}
#submit:hover {
    color: white;
    background-color: black;
}