.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: teal;
    padding: 20px;
}
#destination, #departure-date {
    margin-bottom: 10px;
    width: 200px;
}