h1, h2 {
    text-align: center;
}
body {
    background-color: black;
    color: white;
}

button {
    background-color: white;
    color: black;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#destination, #departure-date {
    margin-bottom: 10px;
    width: 200px;
}